.container {
  max-width: 900px;
  margin: 3rem auto;
}

.title {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  text-align: left;
  width: 100%;
  padding: 1rem;

  background: white;

  border: none;
  border-radius: var(--radius-md);

  box-shadow: var(--shadow);

  cursor: pointer;

  transition: var(--transition);
}

.card:hover {
  transform: translateY(-2px);
}

.unread {
  border-left: 5px solid var(--primary);
}
