.form {
  width: 500px;

  margin: 4rem auto;

  background: white;

  padding: 2rem;

  border-radius: 20px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  padding: 0.9rem;

  border: 1px solid #d1d5db;

  border-radius: 10px;
}

.button {
  border: none;

  background: #2563eb;
  color: white;

  padding: 0.9rem;

  border-radius: 10px;

  cursor: pointer;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.imageCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 150px;
}

.imageCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.imageList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.imageList li {
  margin-bottom: 0.3rem;
}

.imageCard button {
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.coverButton {
  background-color: #2563eb;
  color: white;
}

.coverButton:hover {
  background-color: #1d4ed8;
}

.deleteButton {
  background-color: #dc2626;
  color: white;
}

.deleteButton:hover {
  background-color: #b91c1c;
}

.hiddenInput {
  display: none;
}

.uploadButton {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  background-color: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.uploadButton:hover {
  background-color: #1d4ed8;
}

.coverBadge {
  font-weight: 600;
  color: #eab308;
  text-align: center;
}
